# Compiled class file
*.class
build/
out/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#JS directories
bower_components/
node_modules/
dist/

#IntelliJ files
*.iml
.idea
package-lock.json
.gradle/4.5.1/fileChanges/last-build.bin
.gradle/4.5.1/fileHashes/fileHashes.bin
.gradle/4.5.1/fileHashes/fileHashes.lock
.gradle/4.5.1/taskHistory/taskHistory.bin
.gradle/4.5.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties
