<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Spring -->
    <!--logger name="org.springframework.web.reactive" level="TRACE" /-->

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.web.reactive.handler" level="DEBUG" />

    <!-- iCure -->
    <!--logger name="org.taktik.couchdb.ClientImpl" level="DEBUG" /-->
    <!--logger name="com.fasterxml.jackson" level="DEBUG" /-->

    <logger name="org.taktik" level="INFO" />

    <!-- uncomment the following line to log expected errors -->
    <!-- <logger name="org.taktik.icure.services.external.rest.v1.error.WsExceptionMapper" level="DEBUG" /> -->

    <!-- Spring Security -->
    <logger name="org.apache.commons" level="WARN" />

</configuration>
