<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

	<title>Topaz</title>
	<meta name="description" content="iCure Cloud App">

	<link rel="icon" href="images/favicon.ico">

	<!-- See https://goo.gl/OOhYW5 -->
	<link rel="manifest" href="manifest.json">

	<!-- See https://goo.gl/qRE0vM -->
	<meta name="theme-color" content="#FFB300">

	<!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="iCure Cloud App">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="iCure Cloud App">

	<!-- Homescreen icons -->
	<link rel="apple-touch-icon" href="images/manifest/icon-48x48.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/manifest/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="96x96" href="images/manifest/icon-96x96.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/manifest/icon-144x144.png">
	<link rel="apple-touch-icon" sizes="192x192" href="images/manifest/icon-192x192.png">

	<!-- Tile icon for Windows 8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/manifest/icon-144x144.png">
	<meta name="msapplication-TileColor" content="#2bab72">
	<meta name="msapplication-tap-highlight" content="no">

	<style>
		body {
			margin: 0;
			font-family: 'Roboto', 'Noto', sans-serif;
			line-height: 1.5;
			min-height: 100vh;
			background-color: #FCFCFC;
			--width: 20px;
 			--hw: calc(var(--width) / 2);
		}

		* {
			outline: 0!important;
			outline-color: #FFD740;
		}

		*:focus {
			outline: 0!important;
		}

		#splashscreen {
			position: fixed;
			top: 0;
			left: 0%;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
		}

		.container {
			width: calc(var(--width) * 5.5);
			height: calc(var(--width) * 5.5);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.5);
		}

		.dot {
			position: absolute;
			display: block;
			height: 10px;
			width: var(--width);
			border-radius: 10px;
			overflow: visible;
			background: transparent;
		}

		.dot:before {
			content: '';
			display: block;
			width: calc(var(--width) * 5);
			height: var(--width);
			transform-origin: var(--hw) 0px;
			animation: width .82s infinite ease-in-out;
			opacity: 0.8;
			border-radius: var(--width);
		}

		.dot1 {
			top: 0;
			left:  calc(50% - (var(--width) / 2) );
			transform: rotate(60deg);
		}

		.dot1:before {
			background: #FFB300;
		}

		.dot2 {
			bottom: 0;
			left: calc(100% - (var(--width) / 2) );
			transform: rotate(180deg);
		}

		.dot2:before {
			background: #FF8F00;
		}

		.dot3 {
			bottom: 0;
			left:  calc(0% - (var(--width) / 2) );
			transform: rotate(300deg);
		}

		.dot3:before {
			background: #FFD740;
		}

		@keyframes width {
			0% {
				width: var(--width);
			}
			35% {
				width: calc(var(--width) * 5.7);
				margin-left: 0;
			}
			75% {
				width: calc(var(--width) * 1);

				margin-left: calc(var(--width) * 5.7 - var(--hw));
			}
			100% {
				width: var(--width);
			}
		}

	</style>
</head>
<body class="topaz">

<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>


<!--
  IMPORTANT: Make sure you set the inject: false option in HTMLWebpackPlugin
  so it doesn't try to insert bundle.js. We're handling loading it ourselves
  up above.
-->
<ht-app-tz>
<div id="splashscreen">
	<div class="container">
		<span class="dot dot1"></span>
		<span class="dot dot2"></span>
		<span class="dot dot3"></span>
	</div>
</div>
</ht-app-tz>
</body>
</html>
