apiVersion: voyager.appscode.com/v1beta1
kind: Ingress
metadata:
    name: "{{ template "fullname" . }}-ingress"
    annotations:
        kubernetes.io/ingress.class: "voyager"
        #ingress.appscode.com/stats: "true"
        #ingress.appscode.com/stats-port: "1936"
        #ingress.appscode.com/stats-secret-name: basicauth
        ingress.appscode.com/default-timeout: '{"connect": "5s", "client": "5m", "server": "1d", "tunnel": "20m"}'
        #ingress.appscode.com/max-connections: "10000"
        ingress.appscode.com/keep-source-ip: "true"
      {{- if .Values.ingressIP }}
        ingress.appscode.com/load-balancer-ip: {{ .Values.ingressIP }}
      {{- end }}
spec:
    {{- if .Values.tls }}
    tls:
        {{- range .Values.tls }}
        -   hosts:
                {{- range .hosts }}
                - "{{ . }}"
                {{- end }}
            ref:
                kind: Secret
                name: {{ .refName }}
        {{- end }}
    frontendRules:
        -   port: 443
            rules:
                - option httplog
                - option forwardfor
                - http-request set-header X-Forwarded-Proto https
    {{- end }}
    rules:
        {{- range $name, $fields := .Values.images }}
        {{- range $fields.virtualHosts }}
        - host: {{ . }}
          http:
              paths:
                  - path: /
                    backend:
                        serviceName: "{{ template "fullname" $ }}-{{ $name }}"
                        servicePort: {{ $fields.servicePort }}
        {{- end }}
        {{- end }}

        {{- range .Values.couchdbVirtualHosts }}
        - host: {{ . }}
          http:
              paths:
                  - path: /
                    backend:
                        serviceName: "{{ $.Values.couchdbServiceName }}"
                        servicePort: {{ $.Values.couchdbPortNumber }}
                        backendRules:
                            - 'option httpchk GET /_up HTTP/1.0\r\nAuthorization:\ Basic\ {{ $.Values.couchdbCredentialsBase64 }}'
        {{- end }}